* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #262626;
}

/* ================= NAVBAR ================= */

.mainNav {
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 0.2px solid rgba(137, 137, 137, 0.748);
  font-size: 0.9rem;
}

/* LEFT SECTION */

.leftNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mainNav a {
  color: #fff;
  text-decoration: none;
}

.mainNav a:hover {
  color: #ccc;
}

/* RIGHT SECTION */

.rightNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ensures all children align perfectly vertically */
.rightNav > * {
  display: flex;
  align-items: center;
}

/* BRAND */

.brandBox {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 1.5rem;
}

.brand {
  margin: 0;
}

.brandBox img {
  width: 1.7rem;
  height: 1.7rem;
}

/* SEARCH BAR */

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box {
  background-color: #404040;
  color: #aaa;
  border: none;
  outline: none;
  width: 15rem;
  height: 36px;
  padding: 10px 10px 10px 40px;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #aaa;
  font-size: 0.85rem;
}

.search-container input[type="text"] {
  /* Add padding to the left to make space for the icon */
  padding: 10px 10px 10px 40px; /* Adjust left padding (40px) to be wider than the icon+space */
  border: none;
  border-radius: 0.5rem;
}

/* BUTTON GROUP */

.authBtns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* normalize bootstrap buttons height */

.btn {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}
