* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #262626;
}

.mainNav {
    font-weight: 500;      /* key for that look */
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: 0.2px solid rgba(137, 137, 137, 0.748);
}

.leftNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.mainNav a {
    color: #fff;
    text-decoration: none;
}

.rightNav {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.brandBox {
    display: flex;
    align-items: center;
    font-family: 'Segoe Ui', sans-serif;
    justify-content: space-around;
    color: #fff;
    gap: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: 1rem;
}

.brandLogo {
    color: #e7000b;
}

.search-container {
    /* Position the container relative to allow absolute positioning of the icon inside */
    position: relative;
    display: flex;
    align-items: center;
}

.search-box {
    background-color: #404040;
    color: #aaa;
}

.search-icon {
    /* Position the icon absolutely inside the container */
    position: absolute;
    left: 10px; /* Adjust as needed for spacing */
    color: #aaa; /* style the icon color */
}

.search-container input[type="text"] {
    /* Add padding to the left to make space for the icon */
    padding: 10px 10px 10px 40px; /* Adjust left padding (40px) to be wider than the icon+space */
    border: 1px solid #ccc;
    border-radius: 4px; /* Optional: rounded corners */
    font-size: 16px; /* Optional: set font size */
    /* Add any other desired styling for the input field */
}
